/*colors*/
$dg-red: #da2128;
$dg-grey: #666666;
$dg-blue: blue;

a {
    color: $dg-grey;
}
a:focus, a:hover {
    color: $dg-red;
}

a, a:hover, a:focus {
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.off-canvas.is-closed {
    visibility: inherit;
}

.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0 auto;
    /* width: 1200px;*/
    max-width: 90%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    #menu {
        display: none;
        -ms-grid-column-align: right;
            justify-self: right;
    }
    .menu {

        a, a:link, a:visited {
            font-size: 25px;
            color: #fff;
            border-bottom: 1px solid #fff;
            text-transform: uppercase;
        }

        a:hover, a:focus {
            color: $dg-red !important;
            border-bottom: 1px solid $dg-red !important;
        }
    }

    .menu-icon {
        margin-top: 2rem;
        -ms-flex-item-align: start;
        align-self: flex-start;
        background: #da2128;
        width: 41px;
        height: 41px;
        border-radius: 50%;
    }

    .menu-icon::after {
        position: absolute;
        top: 15px;
        left: 10px;
        display: block;
        width: 20px;
        height: 2px;
        background: #fefefe;
        box-shadow: 0 5px 0 #fefefe, 0 10px 0 #fefefe;
        content: '';
    }

    .menu-icon:hover::after {
        background: #fff;
        box-shadow: 0 5px 0 #fff, 0 10px 0 #fff;
    }
}


.off-canvas {
    background-color: $dg-red;
    
    &.is-transition-overlap.is-open {
    -webkit-box-shadow: none;
            box-shadow: none;
    }

    .mobile-menu {
        margin-top: 60px;
        display: block;

        a {
            text-transform: uppercase;
            color: #fff;
        }
    } 
}

@media only screen and (min-width: 64em) {
    .elementor-section.elementor-section-boxed > .elementor-container {
        margin: 0 auto;
        max-width: 1220px;
        /* max-width: 90%;*/
    }
}
.elementor-section.elementor-section-height-full {
    height: 100vh;
    >.elementor-container{
        height: 100%;
    }
}

/* .position-left {*/
/*     width: 310px;*/
/*     -webkit-transform: translateX(-310px);*/
/*         -ms-transform: translateX(-310px);*/
/*             transform: translateX(-310px);*/
/* }*/

/* .position-right {*/
/*     width: 310px;*/
/*     -webkit-transform: translateX(310px);*/
/*         -ms-transform: translateX(310px);*/
/*             transform: translateX(310px);*/
/* }*/



@media only screen and (min-width: 64em) {
    .header #menu {
        display: block;
    }
    .menu-icon {
        display: none;
    }
}

.home .footer, .error404 .footer {
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer {
    margin: 0 auto;
    width: 1200px;
    max-width: 90%;
    
}

#dg_contact{

    h5 {
        margin: 20px 0 0;
        padding-bottom: 1px;
        border-bottom: 1px solid #c1c1c1;
        line-height: 1.3;
    }

    p {
        margin: .5rem 0;
        font-size: 14px;
        line-height: 1.25; 
    }

    .elementor-field-textual {
        padding: 8px 0;
    }

    input:required, textarea:required {
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
        outline:none;
    }
}
